.icon_holder{
  position: relative;
  width: 25px;
  height: 25px;
  margin: 0 15px;
}
.icon_holder .icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
}
.icon_front{
  fill: var(--text-color);
}
.icon_blue{
  color: rgb(59, 174, 250);
  fill: rgb(59, 174, 250);
}
.icon_pink{
  color: pink;
  fill: pink;
}

.icon_holder:hover .icon_blue{
  animation: glitch_blue .6s infinite;
}
.icon_holder:hover .icon_pink{
  animation: glitch_pink .6s infinite;
}

/* glitch sectio */
@keyframes glitch_pink {
  20%{
    transform: translate(-50%,-62%);
  }
  40%{
    transform: translate(-62%,-50%);
  }
  60%{
    transform: translate(-38%,-50%);
  }
  80%{
    transform: translate(-50%,-38%);
  }
  100%{
    transform: translate(-50%,-50%);
  }
}
@keyframes glitch_blue {
  20%{
    transform: translate(-62%,-50%);
  }
  40%{
    transform: translate(-38%,-50%);
  }
  60%{
    transform: translate(-50%,-38%);
  }
  80%{
    transform: translate(-50%,-62%);
  }
  100%{
    transform: translate(-50%,-50%);
  }
}
@keyframes glitch_front {
  20%{
    fill: var(--background-color);
  }
  40%{
    fill: var(--text-color);
  }
  60%{
    fill: var(--background-color);
  }
  80%{
    fill: var(--text-color);
  }
  100%{
    fill: var(--background-color);
  }
}