.navber{
  height: 55px;
  width: 100vw;
  background-color: #fff;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
}
.nav_container{
  max-width: 85vw;
  margin: auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.logo{
  height: 30px;
}
.logo img{
  height: 100%;
}
.nav_left{
  display: flex;
  height: 100%;
  align-items: center;
}
.nav_items{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 5em;
}
.item{
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 25px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.item_background{
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: all .3s ease;
}
.item_text{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  color: #000;
  z-index: 1;
}
.nav_items .item:hover .item_background{
  transform: translateX(0%);
  background-color: black;
}
.nav_items .item:hover .item_text{
  color: #fff;
}
.nav_icons{
  display: flex;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin: 0px 10px;
  height: 80%;
  align-items: center;
  padding: 0px 30px;
}
.nav_icons .icon_holder{
  font-size: 20px;
  padding: 5px;
  margin: 0px 10px;
  cursor: pointer;
}
.nav_icon_option{
  display: none;
}
@media screen and (max-width:480px) {
  .nvber{
    position: relative;
  }
  .nav_container{
    justify-content: center;
  }
  .nav_items{
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    height: 100vh;
    margin: 0;
    width: 40vw;
    justify-content: unset;
    padding-top:55px;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.3);
    transition: all .3s ease;
  }
  .nav_hidden{
    transform: translateX(-100%);
  }
  .nav_items .item{
    margin: 0;
    padding: 0;
    height: unset;
    width: 100%;
    padding: 10px 30px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  }
  .nav_icon_option{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 15px;
    margin-top: 70px;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    background-color: black;
    height: 30px;
    width: 30px;
    display:flex ;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .nav_icon_option .close{
    rotate: 45deg;
    color: aqua;
  }
  .nav_icons{
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    margin: 0 15px;
    margin-top: 70px;
    background-color: black;
    border-radius: 25px;
    height: 0px;
    overflow: hidden;
    padding: 0px 2px;
    padding-top: 32px;
    transition: all .3s ease;
  }
  .icon_active{
    height: 210px;
  }
  .nav_icons .icon_holder{
    margin: 5px 0;
    padding: 10px 0px;
    color: #fff;
  }
  .nav_menubar{
    height: 55px;
    width: 45px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }
  .nav_menubar .bar{
    height: 1px;
    background-color: #000;
    transition: all .3s ease;
  }
  .bar_1{
    width: 100%;
    margin: 5px 0;
  }
  .bar_1_active{
    width: 30%;
    rotate: -45deg;
    margin-bottom: 4px;
    transform: translateX(-1px);
  }
  .bar_2{
    width: 75%;
    margin: 5px 0;
  }
  .bar_2_active{
    margin: unset;
  }
  .bar_3{
    width: 50%;
    margin: 5px 0;
  }
  .bar_3_active{
    width: 30%;
    rotate: 45deg;
    margin-top: 4px;
    transform: translateX(-1px);
  }
}