.navber{
  height: 6vh;
  font-size: 6vh;
  width: 100vw;
  background: var(--gradient-background);
  box-shadow: 0px 1px 10px var(--box-shadow);
  font-weight: 500;
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav_container{
  max-width: 85vw;
  margin: auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.logo{
  height: 2em;
  font-size: .30em;
  color: var(--background-color);
}
.logo svg{
  height: 100%;
  fill: var(--text-color);
}
.nav_left{
  display: flex;
  height: 100%;
  align-items: center;
}
/* ----------------------------------nav items */
.nav_items{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 1.5em;
  z-index: 1;
}
.item{
  height: 100%;
  display: flex;
  align-items: center;
  font-size: .35em;
  cursor: pointer;
  position: relative;
}
.item_text{
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--text-color);
  z-index: 1;
  transition: all .3s ease;
  padding: 0 1.5vw;
}
.item_text .sub_arrow{
  font-size: 14px;
  width: 18px;
  padding: 0 2px;
  color: var(--primary-color);
  fill: var(--primary-color);
  transition: all .3s ease;
}
.nav_items .item:hover .item_background{
  transform: translateX(0%);
  background-color: var(--text-color);
}
.nav_items .item:hover .item_text{
  color: var(--background-color);
  background-color: var(--text-color);
}
.item:hover .item_text .sub_arrow{
  rotate: 90deg;
}
/* -----------------nav sub items */
.sub_item_list{
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: left;
  overflow: hidden;
  transition: all .5s ease;
  box-shadow: 1px 0px 5px var(--box-shadow);
  width: 120%;
  pointer-events: none;
  transform: translateY(-100%);
  opacity: 0;
}
.sub_item_list .sub_items{
  padding: 10px 20px;
  border-bottom: 1px solid var(--text-color);
  transition: all .3s ease;
}
.sub_item_list .sub_items:last-child{
  border: none;
}
.sub_item_list .sub_items:hover{
  background-color: var(--text-color);
  color: var(--background-color);
}
.item:hover .sub_item_list{
  pointer-events: unset;
  transform: translateY(0%);
  opacity: 1;
}
/* -------------------icons------------ */
.nav_icons{
  display: flex;
  border-left: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
  margin: 0px 10px;
  height: 80%;
  align-items: center;
  padding: 0px .5em;
}
.nav_icons .icon_holder{
  font-size: 20px;
  padding: 0 .5vw;
  margin: 0px 10px;
  cursor: pointer;
  color: var(--text-color);
  height: 100%;
}
.icon_holder svg{
  height: 1em;
}
.nav_icon_option{
  display: none;
}
/* -------------------------mobile devices -------------- */
@media screen and (max-width:480px) {
  .nvber{
    position: relative;
  }
  .nav_container{
    justify-content: center;
  }
  .nav_items{
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    width: 45vw;
    justify-content: unset;
    padding-top:55px;
    box-shadow: 1px 0px 5px var(--box-shadow);
    transition: all .3s ease;
    color: var(--text-color);
    background: var(--gradient-background);
  }
  .nav_hidden{
    transform: translateX(-110%);
  }
  .nav_items .item{
    margin: 0;
    padding: 0;
    height: unset;
    width: 100%;
    box-shadow: 0px 2px 3px var(--box-shadow);
  }
  .item .item_text{
    width: 100%;
    padding: 10px;
  }
/* -------------------sub items */
  .nav_items .item{
    display: flex;
    flex-direction: column;
  }
  .sub_item_list{
    top: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    transform: translateX(-100%);
  }
  .item:hover .sub_item_list{
  }
  /* -------------------icons--------------- */
  .nav_icon_option{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 15px;
    margin-top: 70px;
    color: var(--background-color);
    fill: var(--background-color);
    font-size: 20px;
    padding: 5px;
    background-color: var(--text-color);
    height: 30px;
    width: 30px;
    display:flex ;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .nav_icon_option .close{
    rotate: 45deg;
    color: var(--primary-color);
    fill: var(--primary-color);
  }
  .nav_icons{
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    margin: 0 15px;
    margin-top: 70px;
    background-color: var(--text-color);
    border-radius: 25px;
    height: 5px;
    overflow: hidden;
    padding: 0px 2px;
    padding-top: 32px;
    transition: all .5s ease-in-out;
  }
  .icon_active{
    height: 250px;
  }
  .nav_icons .icon_holder{
    margin: 5px 0;
    padding: 10px 0px;
    color: var(--background-color);
  }
  .icon_holder .icon_front{
    fill: var(--background-color);
  }
  .nav_menubar{
    height: 6vh;
    width: 45px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
  }
  .nav_menubar .bar{
    height: 2px;
    background-color: var(--text-color);
    transition: all .3s ease;
  }
  .bar_1{
    width: 100%;
    margin: 5px 0;
  }
  .bar_1_active{
    width: 30%;
    rotate: -45deg;
    margin-bottom: 4px;
    transform: translateX(-1px);
  }
  .bar_2{
    width: 75%;
    margin: 5px 0;
  }
  .bar_2_active{
    margin: unset;
  }
  .bar_3{
    width: 50%;
    margin: 5px 0;
  }
  .bar_3_active{
    width: 30%;
    rotate: 45deg;
    margin-top: 4px;
    transform: translateX(-1px);
  }
}