.showcase{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showcase_blur{
  filter: blur(2px);
}
.showcase_container{
  width: 80vw;
  height: 80vh;
  /* background-color: rebeccapurple; */
  border-radius: 10px;
  box-shadow: 0px 1px 5px var(--box-shadow);
  margin-top: 8vh;
  position: relative;
}
.showcase_info{
  padding: 3vw;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content:center;
  align-items: left;
}
.showcase_info .header{
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 1vh;
  cursor: default;
}
.showcase_info .header_underline{
  width: 70px;
  height: 4px;
  background-color: var(--text-color);
  margin-bottom: 2vh;
}
.showcase_info .details{
  max-width: 40%;
  padding: 1vh 0;
  margin: 2vh 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4em;
  color: #555;
  text-align: left;
}
.more_btn{
  width: 8vw;
  height: 4vh;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.more_btn .btn_background{
  width: 100%;
  height: 100%;
  background-color: var(--text-color);
  position: absolute;
  transform: translateX(0%);
  transition: all 0.3s ease;
}
.more_btn .btn_front{
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  color: var(--background-color);
  border: 2px solid var(--text-color);
}
.more_btn:hover .btn_background{
  transform: translateX(100%);
}
.more_btn:hover .btn_front{
  color: var(--text-color);
}

.hover_card{
  position: absolute;
  background-color: var(--text-color);
  color: var(--background-color);
  padding: 10px 20px;
  transition: all .4s ease;
  pointer-events: none;
  opacity: 0;
  border-radius: 5px;
  display: flex;
  -webkit-box-reflect: below 5px linear-gradient(to bottom, rgba(0,0,0,0.0) 50%, rgba(0,0,0,0.1));
  cursor: pointer;
}
.h_card_1{
  top: -2%;
  right: 30%;
  transform: translateY(100%);
}
.h_card_2{
  top: 60%;
  right: -2%;
  transform: translateX(-100%);
}
.h_card_3{
  top: 70%;
  right: 40%;
  transform: translateX(100%);
}
.h_card_4{
  top: 35%;
  right: 20%;
  transform: translateX(-100%);
}
.showcase_container:hover .hover_card{
  transform: translate(0%);
  pointer-events: unset;
  opacity: 1;
}
.hover_card .card_icon{
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 15px;
}
.hover_card .card_icon svg{
  width: 100%;
  fill: var(--background-color);
}
.hover_card .card_name{
  font-size: 24px;
  margin: 5px 0;
}
.hover_card .card_level{
  font-size: 12px;
}
@media screen and (max-width:1024px) {
  .showcase_container{
    width: 90vw;
  }
}
@media screen and (max-width:480px) {
  .showcase_container{
    width: 90vw;
  }
  .showcase_info{
    align-items: center;
    justify-content: end;
    padding-bottom: 5vh;
  }
  .showcase_info .details{
    margin: 1vh 0;
  }
  .showcase_info .details{
    max-width: unset;
    text-align: center;
  }
  .more_btn{
    width: 40vw;
    height: 5vh;
  }
}